**1. Given a list of numbers:**

numbers = [4, 5, 6, 4, 5, 7, 8, 6]

**Write a Python program to remove the duplicate elements while preserving the original order.**

In [ ]:
numbers = [4, 5, 6, 4, 5, 7, 8, 6]
unique_numbers = []

for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print(unique_numbers)

[4, 5, 6, 7, 8]

**2. Find the second largest number in a list.**

numbers = [12, 45, 1, -1, 45, 54, 23]

In [ ]:
numbers=[12,45,1,-1,45,54,23]
unique_numbers = list(set(numbers))
unique_numbers.sort()
print(unique_numbers[-2])
# printing the last second element as indexing start from -1,-2, and so on from the last

45

**3. Reverse a List Without Using reverse() or [::-1]**

 numbers = [1, 2, 3, 4, 5]

In [ ]:
reversed_list = []
for i in numbers:
    reversed_list = [i] + reversed_list
    #[12]+[]=[12]
    #[45]+[12]=[45,12] and so on....
print(reversed_list)

[23, 54, 45, -1, 1, 45, 12]

**4. Count how many times each element appears in the list.**

data = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']

In [ ]:
data = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
freq = {}
for item in data:
    freq[item] = freq.get(item, 0) + 1
print(freq)

{'apple': 3, 'banana': 2, 'orange': 1}

The dict.get() method in Python is a safe way to access the value for a given key in a dictionary.

freq.get(item, 0) checks if item exists in the dictionary.

If yes, it returns the current count.

If not, it returns 0 (the default value).

Then + 1 increments the count, and the result is stored back in the dictionary.

**5. Flatten a list of lists into a single list.**

nested = [[1, 2], [3, 4], [5]]

In [ ]:
nested = [[1, 2], [3, 4], [5]]
flat = []
for sublist in nested:
    for item in sublist:
        flat.append(item)
print(flat)

[1, 2, 3, 4, 5]

# You went shopping and stored item prices in a list. Print the total cost.

In [ ]:
prices = [120, 55, 30, 199]
total = 0
for price in prices:
    total += price
print("Total Cost:", total)

# 6. Write a function that takes a list of item prices and returns the total bill.

In [ ]:
def calculate_bill(prices):
    return sum(prices)

print(calculate_bill([23.5, 45.0, 12.99]))  # Output: 81.49

# 7. Given a set of taken usernames, check if a new username is available.

In [ ]:
def is_username_available(username, taken_usernames):
    return username not in taken_usernames

print(is_username_available("john_doe", {"alice", "bob"}))  # Output: True

True

# 8. Count how many students scored above 50 from a list of marks.

In [ ]:
def count_passed(marks):
    return len([m for m in marks if m > 50])

print(count_passed([40, 55, 65, 30]))  # Output: 2

# 9. Collect 5 Favorite Movies from User and Print Reverse Order

In [ ]:
movies = []
for _ in range(5):
    movies.append(input("Enter a favorite movie: "))
print("Movies in reverse order:")
print(movies[::-1])

Enter a favorite movie: a
Enter a favorite movie: b
Enter a favorite movie: c
Enter a favorite movie: d
Enter a favorite movie: e
Movies in reverse order:
['e', 'd', 'c', 'b', 'a']

# 10. Write a Function to Count Words in a Sentence

In [ ]:
def splitwords(sentence):
    return sentence.split()

def count_words(sentence):
    words = splitwords(sentence)
    return len(words)

sentence = "Hello, world! This is a test sentence."

words = splitwords(sentence)
word_count = count_words(sentence)

print("Words:", words)
print("Number of words:", word_count)

Words: ['Hello,', 'world!', 'This', 'is', 'a', 'test', 'sentence.']
Number of words: 7

# 11. User Input + Dictionary,  Build a Contact Book of 3 People

In [ ]:
contacts = {}
for _ in range(3):
    name = input("Enter name: ")
    phone = input("Enter phone number: ")
    contacts[name] = phone
print("Contact Book:", contacts)

Enter name: a
Enter phone number: 11
Enter name: b
Enter phone number: 22
Enter name: c
Enter phone number: 33
Contact Book: {'a': '11', 'b': '22', 'c': '33'}

# 12. [With Function + Set] Identify Common Hobbies Between Two Users

In [ ]:
def common_hobbies(a, b):
    return set(a) & set(b)

h1 = input("Enter hobbies of Person A (comma separated): ").split(",")
h2 = input("Enter hobbies of Person B (comma separated): ").split(",")
print("Common hobbies:", common_hobbies(h1, h2))

# 13. Create List of Even Numbers From 1 to N

In [ ]:
n = int(input("Enter N: "))
evens = []
for i in range(1, n+1):
    if i % 2 == 0:
        evens.append(i)
print("Even numbers:", evens)

# 14. [User Input + Dictionary] Grade Lookup Tool

In [ ]:
grades = {
    "Math": 85,
    "Science": 78,
    "English": 92
}
subject = input("Enter subject name: ")
print("Grade:", grades.get(subject, "Not found"))

Enter subject name: Math
Grade: 85

# 15. [With Function + Loop] Print Prime Numbers in Range

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    return True

start = int(input("Start: "))
end = int(input("End: "))
for i in range(start, end+1):
    if is_prime(i):
        print(i, end=" ")

# 16. [User Input + List + Function] Course Enrollment System

In [ ]:
def enroll(students):
    name = input("Enter student name: ")
    course = input("Enter course name: ")
    students.setdefault(course, []).append(name)

courses = {}
for _ in range(3):
    enroll(courses)
print("Enrollment:", courses)

Enter student name: a
Enter course name: dap
Enter student name: b
Enter course name: ai
Enter student name: c
Enter course name: dap
Enrollment: {'dap': ['a', 'c'], 'ai': ['b']}

# 17. [No Function] Analyze Student Marks and Print Result

In [ ]:
students = {
    "Ankit": 76,
    "Pooja": 34,
    "Ravi": 90,
    "Sneha": 49
}

for name, marks in students.items():
    result = "Pass" if marks >= 40 else "Fail"
    print(f"{name}: {marks} - {result}")

Ankit: 76 - Pass
Pooja: 34 - Fail
Ravi: 90 - Pass
Sneha: 49 - Pass

# 18.  [List + Dictionary + Function] Expense Tracker Summary

In [ ]:
def summarize_expenses(expenses):
    total = sum(expenses.values())
    print("Total spent:", total)
    for item, cost in expenses.items():
        print(f"{item}: ₹{cost}")

expenses = {}
for _ in range(3):
    item = input("Item: ")
    cost = float(input("Cost: "))
    expenses[item] = cost

summarize_expenses(expenses)

Item: a
Cost: 12
Item: b
Cost: 13
Item: c
Cost: 14
Total spent: 39.0
a: ₹12.0
b: ₹13.0
c: ₹14.0

# 19. [Tuple + Conditionals] Assign Seat Category Based on Age

In [ ]:
people = [("Amit", 15), ("Sita", 28), ("Kaka", 70)]

for name, age in people:
    if age < 18:
        category = "Child"
    elif age < 60:
        category = "Adult"
    else:
        category = "Senior"
    print(f"{name} is categorized as {category}")

# 20. [With Function + Set + Conditional] Check Email Duplication in Signup System

In [ ]:
def check_email(new_email, registered_emails):
    if new_email.lower() in registered_emails:
        print("Email already registered.")
    else:
        registered_emails.add(new_email.lower())
        print("Registered successfully.")

emails = {"test@gmail.com", "hello@outlook.com"}

email_input = input("Enter email to register: ")
check_email(email_input, emails)

Enter email to register: abc@gmail.com
Registered successfully.

# 21. Print All Unique Items Purchased by Customers
Each customer has a list of purchased items. Find all unique items.

In [ ]:
data = {
    "John": ["milk", "bread"],
    "Anu": ["bread", "eggs"],
    "Ali": ["milk", "butter"]
}

all_items = set()
for items in data.values():
    all_items.update(items)

print("Unique items:", all_items)

Unique items: {'bread', 'butter', 'milk', 'eggs'}

# 22. Validate Voter Age From List of Tuples
Each tuple has name and age. Print names of eligible voters (>=18).

In [ ]:
people = [("Raj", 17), ("Simran", 22), ("Ali", 19)]
for name, age in people:
    if age >= 18:
        print(name, "is eligible to vote.")

# 23. Common Skills Between Candidates Using Set
Find and print common skills from two candidates’ skill sets.

In [ ]:
a = {"Python", "SQL", "Git"}
b = {"Java", "Python", "Git"}
print("Common skills:", a & b)

# 24. Course Registration Limit Checker
Given student-course mapping, identify students registered in more than 2 courses.

In [ ]:
def over_registered_students(registrations):
    result = {}
    for student, courses in registrations.items():
        if len(courses) > 2:
            result[student] = courses
    return result

data = {"Alice": ["Math", "Python", "AI"], "Bob": ["Math"], "Eve": ["Python", "AI"]}
print(over_registered_students(data))
# Output: {'Alice': ['Math', 'Python', 'AI']}

# 25. Merge Two Inventory Dictionaries
Add values of items if they appear in both inventories.

In [ ]:
def merge_inventories(inv1, inv2):
    merged = inv1.copy()
    for item, count in inv2.items():
        merged[item] = merged.get(item, 0) + count
    return merged

a = {"pen": 10, "notebook": 5}
b = {"pen": 5, "eraser": 2}
print(merge_inventories(a, b))
# Output: {'pen': 15, 'notebook': 5, 'eraser': 2}

# 26. Group Words by First Letter Using Dictionary
Q: Group a list of words by their starting letter.

In [ ]:
def group_by_first_letter(words):
    result = {}
    for word in words:
        key = word[0].lower()
        result.setdefault(key, []).append(word)
    return result

print(group_by_first_letter(["apple", "banana", "avocado", "blueberry"]))
# Output: {'a': ['apple', 'avocado'], 'b': ['banana', 'blueberry']}

# 27. Frequency of Elements in a Nested List
Q: Count frequency of each element in a nested list using dictionary.

In [ ]:
def nested_freq(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    freq = {}
    for item in flat_list:
        freq[item] = freq.get(item, 0) + 1
    return freq

print(nested_freq([[1, 2], [2, 3], [1, 4]]))
# Output: {1: 2, 2: 2, 3: 1, 4: 1}

# 28. Prototype of AI Assistant

In [ ]:
intent = {
    "help": "How can I help you?"
    }
user_input = input("You: ").lower()

words = user_input.split()

response = "can't response."
for word in words:
    if word in intent:
        response = intent[word]
        break

print("Assistant:", response)

You: hhhh
Assistant: can't response.