# section 1 Introduction to Python for Data Analytics

q1 Write a Python program to find the largest of three numbers entered by the user.

In [4]:
num1 = int (input ("Enter the no.: "))
num2 = int (input ("Enter the no.: "))
num3 = int (input ("Enter the no.: "))

if (num1> num2 and num1> num3):
    print ("num1 is the largest among 3")
elif (num2> num1 and num2> num3):
    print ("num2 is the largest among 3")
elif (num3> num2 and num3> num1):
    print ("num3 is the largest among 3")

Enter the no.:  89
Enter the no.:  45
Enter the no.:  12

num1 is the largest among 3

Given a list of numbers, print only the even numbers using a loop.

In [6]:
l1 = [56, 67, 78, 78, 90, 100]
for i in l1:
    if i %2==0:
        print (i)

56
78
78
90
100

Write a program to reverse a list without using built-in reverse().

In [15]:
l1 = [56, 67, 78, 78, 90, 100]

reversed_list = l1[::-1]
reversed_list

[100, 90, 78, 78, 67, 56]

Create a dictionary of 3 students with their names as keys and marks as values. Print the student with the highest marks.

In [22]:
dict1 = {
    "Vedansh":98,
    "vishal" : 88,
    "vishesh": 42
}

dict1.keys()
dict1.values()
dict1.items()

topper = max(dict1.values())
print (topper)

98

6. Write a function is_prime(n) to check if a number is prime or not.

In [30]:
def prime_check(num):
    
    count = 0
    for i in range (1, num+1):
        if (num % i ==0):
            count +=1

    if count == 2:
        print ("the no. is prime")
    else :
        print ("the no. is not prime")


print (prime_check(45))

the no. is not prime
None

check for pallindrome

In [38]:
string1 = [1,3,3,1]

pallindrome = string1[::-1]

string1 == pallindrome

True

Given a list [10, 20, 30, 40, 50], use *slicing* to get [20, 30, 40].

In [40]:
list5 = [10, 20, 30, 40, 50]

list5[1:4]

[20, 30, 40]

9. Write a program to merge two dictionaries.

In [48]:
dict1 = {
    "name": "tejaswi"
}

dict2 = {
    "friend": "vedansh"
}

dict1.update(dict2)
dict1

{'name': 'tejaswi', 'friend': 'vedansh'}

Write a program to accept 5 numbers from the user, store them in a list, and print the sum.

In [53]:
l2=[]
for i in range (1,6):
    num = int (input(f"Enter the no. {i} MF"))
    l2.append(num)

print ("The list is :",l2)

Enter the no. 1 MF 89
Enter the no. 2 MF 45
Enter the no. 3 MF 54
Enter the no. 4 MF 64
Enter the no. 5 MF 5

The list is : [89, 45, 54, 64, 5]

2. Write a program to flatten a nested list [[1,2],[3,4],[5,6]] into [1,2,3,4,5,6].

In [61]:
flattened_list = []
nested = [[1,2],[3,4],[5,6]]
for sublist in nested:
    for j in sublist:
        flattened_list.append(j)

flattened_list

[1, 2, 3, 4, 5, 6]

Write a Python program that counts the frequency of each character in the string "dataanalytics".

In [5]:
string1 = "dataanalytics"
stru = {}

for i in string1:
    if i in stru:
        stru[i] += 1
    else :
        stru[i] = 1

stru

{'d': 1, 'a': 4, 't': 2, 'n': 1, 'l': 1, 'y': 1, 'i': 1, 'c': 1, 's': 1}

Write a program to remove all duplicate values from a dictionary.

In [9]:
dict5 = {
    "name": "vedansh",
    "class" : "vedansh"
}

seen = set()

new_dict = {k:v for k,v in dict5.items if  }

ValueError: too many values to unpack (expected 2)