ðŸ”¹ Q6. Anagram Check

Write a program to check if two strings are anagrams of each other.
ðŸ‘‰ Example: "listen" and "silent" â†’ Anagrams.

In [7]:
def check_anagram (ramesh, suresh):
    ramesh.replace(" ","")
    suresh.replace(" ","")

    if sorted(ramesh)==sorted (suresh):
        return f"Yes {ramesh} and {suresh} are anagrams"
    else :
        return "it is not"


check_anagram("listen", "silent")

'it is not'

Q7. Word Frequency

Write a program to count the frequency of each word in a given sentence.
ðŸ‘‰ Example: "python is easy and python is powerful" â†’ { 'python':2, 'is':2, 'easy':1, 'and':1, 'powerful':1 }

In [15]:
word =  "python is easy and python is powerful"
word = word.split()
dict1 = {}

for i in word:
    if (i in dict1):
        dict1[i] += 1
    else :
        dict1[i] =1

dict1
# word

{'python': 2, 'is': 2, 'easy': 1, 'and': 1, 'powerful': 1}

Q8. Remove Punctuation

Write a program to remove all punctuation (.,!?;: etc.) from a string.

In [18]:
# 65 to 90, while for small letters, it extends from 97 to 122

string2 = "klsgdjafh!asdfjh# jlksdjffa?isifjd@"
result = ""

for i in string2:
    if (65 <= ord(i) <= 90) or (97 <= ord(i) <= 122):
        result+= i

result

'klsgdjafhasdfjhjlksdjffaisifjd'

ðŸ”¹ Q9. First Non-Repeating Character

Write a program to find the first non-repeating character in a string.
ðŸ‘‰ Example: "aabbcde" â†’ Output: 'c'

In [21]:
def first_non_repeating(s):
    freq = {}
    
    # count frequency
    for ch in s:
        freq[ch] = freq.get(ch, 0) + 1
    
    # find first character with count = 1
    for ch in s:
        if freq[ch] == 1:
            return ch
    return None  # if no unique char

# test
print(first_non_repeating("aabfbcde"))   # c
print(first_non_repeating("aabbcc"))    # None

f
None

Q10. Longest Word in a Sentence

Write a program to find the longest word in a sentence entered by the user.

In [28]:
word2 = input ("Enter the sentence: ")

longest_word = ""

splitted_word = word2.split()

for i in splitted_word:
    if (len (i) > len(longest_word)):
        longest_word = i

longest_word

Enter the sentence:   m mm mmmmm mm mmm mmm

'mmmmm'

# Lists

Q7. Remove Duplicates from a List

Write a program to remove all duplicate elements from a list while preserving the original order.

In [34]:
lsit = [89, 89, 90, 90, 78]
without_duplicates = []

for i in lsit:
    if (i not in without_duplicates):
        without_duplicates.append(i)

without_duplicates

[89, 90, 78]

Q8. Merge Two Lists

Write a program to merge two lists into a single list.

In [39]:
list1= ["vedansh", "vishal", "tejaswi"]
list2 = ["mohak", "sourav"]

list1.extend(list2)

list1

['vedansh', 'vishal', 'tejaswi', 'mohak', 'sourav']

Q9. Find Second Largest Element

Write a program to find the second largest number in a list.

In [42]:
import numpy as np
np.hstack(dir (list))

array(['__add__', '__class__', '__class_getitem__', '__contains__',
       '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__',
       '__format__', '__ge__', '__getattribute__', '__getitem__',
       '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__',
       '__init__', '__init_subclass__', '__iter__', '__le__', '__len__',
       '__lt__', '__mul__', '__ne__', '__new__', '__reduce__',
       '__reduce_ex__', '__repr__', '__reversed__', '__rmul__',
       '__setattr__', '__setitem__', '__sizeof__', '__str__',
       '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend',
       'index', 'insert', 'pop', 'remove', 'reverse', 'sort'],
      dtype='<U17')

In [50]:
rajesh = [90, 78, 100, 23, 89, 88]
rajesh.sort()

rajesh[-2]

90

Q10. Count Even and Odd Numbers

Write a program to count the number of even and odd numbers in a list.

In [56]:
sursh = [90, 87, 77, 3, 89, 7]
even_count = 0
even_list = []
odd_list = []
odd_count = 0
for i in sursh:
    if (i %2 == 0):
        even_count+=1
        even_list.append(i)
    else :
        odd_count+=1
        odd_list.append(i)

print (even_count)
print (odd_count)
print ("Odd no.s: ",odd_list)
print ("Even no.s: ",even_list)

1
5
Odd no.s:  [87, 77, 3, 89, 7]
Even no.s:  [90]

# Tuples

Q6. Reverse a Tuple

Write a program to reverse a tuple without using the reversed() function.

In [58]:
tuple1 = (67, 78, 9, 89, 67, 9, "vednash")
print (tuple1[::-1])

('vednash', 9, 67, 89, 9, 78, 67)

Q7. Tuple Concatenation

Write a program to merge (concatenate) two tuples into a single tuple.

In [64]:
ramesh = (90, 78, "vishal")
suresh = (89, "vedansh", "shakk ke andhere m jannat")
sonu = []

sonu.extend(list(ramesh))
sonu.extend(list(suresh))
tuple(sonu)

(90, 78, 'vishal', 89, 'vedansh', 'shakk ke andhere m jannat')

Q8. Remove Duplicates from a Tuple

Write a program to remove duplicates from a tuple and return a new tuple with unique elements.

In [73]:
ramesh = (90, 78, "vishal", 90, 'vishal', 78, 89, 25, 65)
unique = ()

for i in ramesh:
    if (i not in unique):
        unique += (i,)

unique

(90, 78, 'vishal', 89, 25, 65)

Q9. Find the Second Largest Element in a Tuple

Write a program to find the second largest number in a tuple.

In [79]:
tuple1 = (89, 90, 67, 90, 6545, 48567, 40596 , 587)

sorted_tuple = sorted(tuple1)

print (sorted_tuple[-2])

40596

In [103]:
task = "Cednahs sdjfklk asjfk"
vowels = ['a', 'e', 'i', 'o', 'u']
count =0

for i in task:
    if (i.lower() in vowels):
        count += 1

count

3

# Dictionery

In [104]:
np.hstack(dir(dict))

array(['__class__', '__class_getitem__', '__contains__', '__delattr__',
       '__delitem__', '__dir__', '__doc__', '__eq__', '__format__',
       '__ge__', '__getattribute__', '__getitem__', '__getstate__',
       '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__',
       '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__',
       '__or__', '__reduce__', '__reduce_ex__', '__repr__',
       '__reversed__', '__ror__', '__setattr__', '__setitem__',
       '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy',
       'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault',
       'update', 'values'], dtype='<U17')

Q6. Merge Two Dictionaries

Write a program to merge two dictionaries into a single dictionary.

In [109]:
dict1= {
    "mane": "palce",
    "place": "jaiur"
}

dict2 = {
    "vishal": 'op',
    "vishesh": "some one else"
}

dict1.update(dict2)

print (dict1.keys())
print (dict1.items())
print (dict1.values())

dict_keys(['mane', 'place', 'vishal', 'vishesh'])
dict_items([('mane', 'palce'), ('place', 'jaiur'), ('vishal', 'op'), ('vishesh', 'some one else')])
dict_values(['palce', 'jaiur', 'op', 'some one else'])

Q7. Remove Duplicates by Value

Write a program to remove all key-value pairs from a dictionary that have duplicate values, keeping only the first occurrence.

In [110]:
d = {"a": 10, "b": 20, "c": 10, "d": 30, "e": 20}
seen_values = set()
new_dict = {}

for key, value in d.items():
    if value not in seen_values:
        new_dict[key] = value      # add if value not seen
        seen_values.add(value)     # mark value as seen

print("Dictionary without duplicate values:", new_dict)

Dictionary without duplicate values: {'a': 10, 'b': 20, 'd': 30}

Q7. Find Key with Maximum Value

Write a program to find the student with the highest marks in a dictionary.

In [115]:
marks = {
    "marks1": 89,
    "marks2": 100,
    "marks3": 77
}
sorted_marks = sorted (marks.values())
print ("highest", sorted_marks[-1])
print ("second highest", sorted_marks[-2])

# for i in marks.values():
#     max()

highest 100
second highest 89

In [119]:
l1 = [89, 89, 88]
l2 = [89, 89, 88]

l1==l2

True